.table {
  width: 100%;
  border-collapse: collapse;
}

.tableHeader {
  border-bottom: 1px solid navy;
}

.tableHeader th {
  color: navy;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  padding: 10px;
  min-width: 100px;
}

.tableHeader th:not(:first-child),
 .tableBody td:not(:first-child) {
   border-left: 1px solid navy;
 }

.tableBody tr:nth-child(2n) {
  background-color: rgba(0, 0, 128, 0.3);
}

.tableBody td {
  color: navy;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  padding: 5px;
}