.chip {
  margin: 0 auto;
  box-sizing: border-box;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  box-shadow:
      inset rgba(0,0,0,.6) 0 -2px 5px,
      inset rgba(252,255,255,.7) 0 2px 5px,
      rgba(0,0,0,.8) 0 2px 5px -2px;
  transition: 0.3s;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}